* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-body: rgb(247, 247, 247);
}
/*  font-family: 'Oswald', sans-serif;

  ; */
body {
  background-color: var(--background-body);
  font-family: "Roboto", sans-serif;
}

.wrapper {
  margin: 0 auto;
  width: 90%;
}

img {
  height: auto;
  width: 100%;
}

/* ----------Hero------------------ */
.hero {
  background-color: rgb(0, 0, 0, 0.1);
  background-image: url(../img/beach.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}

.hero .barra {
  background-color: rgb(0, 0, 0, 0.5);
  height: 60px;
}

.hero .hero-flex {
  align-items: center;
  /* border: 1px solid white; */
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content: space-between;
}

.hero-menuMovil span {
  background-color: #fff;
  display: block;
  height: 5px;
  margin-bottom: 5px;
  width: 30px;
}

.hero .hero-menu {
  display: none;
}

.hero .hero-title {
  align-items: center;
  /* border: 1px solid black; */
  color: #fff;
  display: flex;
  flex-direction: column;
  font-family: "Oswald", sans-serif;
  justify-content: center;
  height: 500px;
}

.hero .hero-title h1 {
  font-size: 3rem;
  text-align: center;
}

.hero .hero-title p {
  font-size: 1.5rem;
  text-align: center;
}

/* ----------Servicios------------------ */
.services {
  box-sizing: border-box;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.services h2 {
  font-size: 2rem;
  text-align: center;
}

.services .services-card {
  /* border: 1px solid; */
  border-radius: 0.5rem;
  box-shadow: 0 14px 30px rgba(0, 0, 0, 0.3), 0 11px 8px rgba(0, 0, 0, 0.22);
  box-sizing: border-box;
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding-bottom: 0.5rem;
}

.services-card .card-img {
  box-sizing: border-box;
  margin-bottom: 1rem;
}

.services-card .card-img img {
  border-start-end-radius: 0.5rem;
  border-start-start-radius: 0.5rem;
  box-shadow: 0 0px 14px 0 rgba(0, 0, 0, 0.2);
}

.services-card .card-text {
  margin-bottom: 2rem;
  text-align: center;
}

.services-card .card-text p {
  font-weight: normal;
  line-height: 1.5;
  margin: auto;
  margin-top: 1rem;
  text-align: justify;
  width: 90%;
}

/* ----------Gallery------------------ */
.gallery {
  margin-top: 3rem;
}

.gallery h2 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.gallery .gallery-container {
  border-radius: 0.5rem;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3), 0 1px 8px rgba(0, 0, 0, 0.22);
  box-sizing: border-box;
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding-bottom: 0.5rem;
}

.gallery .gallery-container img {
  border-start-end-radius: 0.5rem;
  border-start-start-radius: 0.5rem;
}

.gallery-container .gallery-text {
  margin-bottom: 2rem;
  margin-top: 1rem;
  text-align: center;
}

.gallery-container .gallery-text p {
  margin-top: 0.5rem;
}

/* ----------Contact------------------ */
.contact {
  box-sizing: border-box;
  margin: auto;
  margin-bottom: 2rem;
  margin-top: 3rem;
  width: 90%;
}

.contact h2 {
  margin-bottom: 1rem;
  text-align: center;
}

.contact .contact-form {
  /* border: 1px solid black; */
  box-sizing: border-box;
  margin: auto;
  width: 80%;
}

.contact .contact-form legend {
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: center;
}

.contact .contact-form .form-control {
  border-radius: 10px;
  display: block;
  margin: 0.5rem 0;
  padding: 0.5rem;
  width: 100%;
}

.contact-form .form-buttom {
  text-align: center;
}

.contact-form .form-buttom button {
  background-color: blue;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 30px;
}

.contact-form .form-buttom button:hover {
  opacity: 0.7;
}

/* ----------Contact------------------ */
footer {
  background-color: hsl(192, 100%, 9%);
  display: flex;
  flex-direction: column;
}

footer h2 {
  color: #fff;
  margin-top: 2rem;
  text-align: center;
}

footer blockquote {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

footer .icon {
  border: 1px solid white;
  border-radius: 50%;
  height: 50px;
  position: relative;
  width: 50px;
}

footer .icon:hover {
  transform: scale(1.2);
}

footer .icon a {
  display: block;
  text-decoration: none;
}

footer .icon i {
  color: #fff;
  font-size: 18px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.copyright {
  color: #fff;
  font-size: 14px;
  margin-bottom: 2rem;
  margin-top: 3rem;
  text-align: center;
}

.copyright span {
  color: orangered;
  font-weight: bold;
}

.developer {
  align-items: center;
  background-color: black;
  color: #fff;
  display: flex;
  font-family: "Antic Slab", serif;
  font-style: italic;
  font-size: 12px;
  height: 30px;
}

/*-------------- Desktop ---------------------*/
@media only screen and (min-width: 784px) {
  .hero {
    height: 100vh;
  }

  .hero-menuMovil {
    display: none;
  }

  .hero .hero-menu {
    display: block;
  }

  .hero-menu ul {
    display: flex;
  }

  .hero-menu ul li {
    list-style: none;
    margin-left: 1.5rem;
  }

  .hero-menu ul li a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
  }

  .hero-menu ul li a:hover {
    color: #ccc4c4;
    text-decoration: underline;
  }

  .hero .hero-title h1 {
    font-size: 5rem;
  }

  .hero .hero-title p {
    font-size: 2rem;
  }

  /* ----------- Servicios --------------- */
  .services .services-card {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .services .services-card .card-text {
    width: 40%;
  }

  .services .services-card .card-img {
    margin: 0;
    order: 1;
    width: 60%;
  }

  .card-img img {
    width: 100%;
    height: 100%;
  }

  /* ----------- Gallery --------------- */
  .gallery .gallery-flex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .gallery .gallery-container {
  }
}
